{% extends "admin/change_list.html" %}

{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'customs_general/admin/css/excel_upload.css' %}">
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'customs_general/admin/js/excel_upload.js' %}"></script>
{% endblock %}

{% block content %}
<div class="mb-10">
    <button id="openExcelModal" class="button excel-upload-btn">
        📤 Excel ile Yükle +
    </button>
</div>


<div id="excelUploadModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Excel Dosyanızı Yükleyin</h2>

        <form id="excelUploadForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="excel_file" id="excelFileInput" accept=".csv, .xlsx" required>
            <br><br>
            <button type="submit" class="button">📤 Yüklemeye Başla</button>
        </form>

        <div id="progressContainer" class="progress mt-3 hidden-25">
        <div id="progressBar" class="progress-bar" role="progressbar"></div>
        </div>
        <div id="uploadMessage" class="message-box hidden">
        <span id="uploadSuccess" class="message-success hidden">✅ <span id="successMessageText"></span></span>
        <span id="uploadError" class="message-error hidden">❌ <span id="errorMessageText"></span></span>
        <span id="uploadFailedRows" class="message-error hidden">
        ⚠️ <span id="failedRowCountText"></span> satırda hata oluştu!
        <br>
        <a id="failedDownloadLink" class="failed-download-link" href="#">📥 Hatalı Satırları İndir</a>
        </span>
        </div>

    </div>
</div>


<!-- Mesaj kutusu -->


<script>
    const config = {
        uploadProgressUrl: "{% url 'customs_general:upload_progress' %}",
        uploadExcelUrl: "{% url 'customs_general:upload_excel' model_name %}"
    };
</script>
<script src="{% static 'customs_general/admin/js/excel_upload.js' %}"></script>


{{ block.super }}
{% endblock %}
