{% extends "generic_list.html" %}

{% block header_title %}
    Markalar
{% endblock %}

{% block add_button %}
    <a href="{% url 'brand_create' %}" class="btn btn-success">
        <i class="material-icons" style="vertical-align: middle;">add</i>
        Marka Ekle
    </a>
{% endblock %}

{% block search_placeholder %}
    Marka ara...
{% endblock %}

{% block table_header %}
    <tr>
        <th>Marka Adı</th>
        <th>Marka Kodu</th>
        <th>Aktivasyon No</th>
        <th>Açıklama</th>
        <th>Ülke</th>
        <th>Logo</th>
    </tr>
{% endblock %}

{% block table_rows %}
    {% for brand in brands %}
        <tr>
            <td>{{ brand.brand_name }}</td>
            <td>{{ brand.brand_code }}</td>
            <td>{{ brand.brand_activate_number }}</td>
            <td>{{ brand.brand_description }}</td>
            <td>{{ brand.activated_countries }}</td>
            <td>
                {% if brand.brand_logo %}
                    <img src="{{ brand.brand_logo.url }}" alt="{{ brand.brand_name }} Logo" class="img-thumbnail clickable-image" style="max-width: 90px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imageModal">
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
