{% extends "generic_list.html" %}

{% block header_title %}
    Ürün Modelleri
{% endblock %}

{% block add_button %}
    <a href="{% url 'model_create' %}" class="btn btn-success">
        <i class="material-icons" style="vertical-align: middle;">add</i>
        Model Ekle
    </a>
{% endblock %}

{% block search_placeholder %}
    Ürün modeli ara...
{% endblock %}

{% block table_header %}
    <tr>
        <th>Ürün Modeli</th>
        <th>Marka</th>
    </tr>
{% endblock %}

{% block table_rows %}
    {% for model in models %}
        <tr>
            <td>{{ model.product_model }}</td>
            <td>{{ model.brand.brand_name }}</td>
        </tr>
    {% endfor %}
{% endblock %}
