{% extends "generic_list.html" %}

{% block header_title %}
    Ürünler
{% endblock %}

{% block add_button %}
    <a href="{% url 'products_create' %}" class="btn btn-success">
        <i class="material-icons" style="vertical-align: middle;">add</i>
        Ürün Ekle
    </a>
{% endblock %}

{% block search_placeholder %}
    Ürün ara...
{% endblock %}

{% block table_header %}
    <tr>
        <th>Ürün Görseli</th> <!-- 🔥 Yeni görsel sütunu -->
        <th>Ürün Adı</th>
        <th>Marka</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Açıklama</th>
    </tr>
{% endblock %}

{% block table_rows %}
    {% for product in products %}
        <tr>
            <td>
                {% if product.prod_img %}
                    <img src="{{ product.prod_img.url }}"
                         alt="Ürün Görseli"
                         class="img-thumbnail clickable-product-image"
                         style="max-width: 90px; cursor: pointer;"
                         data-bs-toggle="modal"
                         data-bs-target="#imageModal"
                         data-image="{{ product.prod_img.url }}">
                {% else %}
                    <span class="text-muted">Görsel Yok</span>
                {% endif %}
            </td>
            <td>{{ product.prod_name }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.prod_price }}</td>
            <td>{{ product.quantity_in_package }}</td>
            <td>{{ product.prod_desc }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block extra_scripts %}
<!-- Modal kodu (gizli) -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <img id="modalImage" src="" class="w-100" alt="Büyük Ürün Görseli">
      </div>
    </div>
  </div>
</div>


{% endblock %}
