{% extends "generic_list.html" %}

{% block header_title %}
    Yüklenen Dökümanlar
{% endblock %}

{% block add_button %}
    <a href="{% url 'uploaded_docs_create' %}" class="btn btn-success">
        <i class="material-icons" style="vertical-align: middle;">upload_file</i>
        Döküman Ekle
    </a>
{% endblock %}

{% block search_placeholder %}
    Döküman ara...
{% endblock %}

{% block table_header %}
    <tr>
        <th>Belge Adı</th>
        <th>Belge Türü</th>
        <th>Dosya</th>
    </tr>
{% endblock %}

{% block table_rows %}
    {% for doc in uploaded_documents %}
        <tr>
            <td>{{ doc.doc_name }}</td>
            <td>{{ doc.doc_type }}</td>
            <td>
                {% if doc.doc_file %}
                    <a href="{{ doc.doc_file.url }}" target="_blank" class="btn btn-sm btn-outline-primary">
                        Görüntüle
                    </a>
                {% else %}
                    <span class="text-muted">Dosya Yok</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
