{% extends "generic_list.html" %}
{% load custom_filters %}

{% block title %}
    {{ model_icon }} {{ model_display_name }} Verileri
{% endblock %}

{% block header_title %}
    {{ model_icon }} {{ model_display_name }}
{% endblock %}

{% block search_placeholder %}
    {{ model_display_name }} Ara...
{% endblock %}


{% block table_header %}
    <tr>
        {% for key in field_keys %}
            <th>{{ model_field_verbose_names|get_dict_value:key|default:key }}</th>

        {% endfor %}
    </tr>
{% endblock %}

{% block table_rows %}
    {% for object in page_obj %}
        <tr>
            {% for key in field_keys %}
                <td>
                    {% if key == "brand_logo" %}
                        {% with logo=object|getattr_custom:key %}
                            {% if logo %}
                                <img src="{{ logo.url }}" alt="Logo" class="img-thumbnail clickable-image" style="max-width: 100px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imageModal">
                            {% else %}
                                -
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        {% if key in m2m_fields %}
                            {% with related_objects=object|getattr_custom:key %}
                                {% if related_objects %}
                                    {% for currency in related_objects %}
                                        <span style="color:blue">{{ currency }}</span>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span style="color:red">ManyToMany Boş!</span>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            {{ object|render_field:key|safe }}
                        {% endif %}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}


