{% extends "generic_list.html" %}
{% load custom_filters %}

{% block title %}
    {{ model_icon }} {{ model_display_name }} Verileri
{% endblock %}

{% block header_title %}
    {{ model_icon }} {{ model_display_name }}
{% endblock %}

{% block search_placeholder %}
    {{ model_display_name }} Ara...
{% endblock %}


{% block table_header %}
    <tr>
        {% for key in field_keys %}
            <th>{{ model_field_verbose_names|get_dict_value:key|default:key }}</th>

        {% endfor %}
    </tr>
{% endblock %}

{% block table_rows %}
    {% for object in page_obj %}
        <tr>
            {% for key in field_keys %}
                <td>
                        {{ object|render_field:key|safe }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}


