

{% extends "base.html" %}
{% load custom_filters %}

{% block title %}{{ model }} Verileri{% endblock %}

{% block content %}
    <h2>📌 {{ model|title }} Verileri</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for field in field_names %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
                <tr>
                    {% for key in field_keys %}
                        <td>{{ object|getattr_custom:key }}</td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{{ field_names|length }}" class="text-center">Bu modelde veri bulunamadı.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
